<footer class="footer">
    <div class="container">
        <div class="footer-copyright">
            <div class="container-fluid">
                <h4>Copyright ©2018 My Assistant</h4>
                <h5>All Rights Reserved <a href="www.nurislam03.blogspot.com"> MyAssistant.Inc </a></h5>
            </div>
        </div>
    </div>
</footer>
