<div class="jumbotron">
  <div class="container">
      <h1 class="text-center">My Assistant</h1>
      <p class="text-center">This is a simple hero unit, a simple jumbotron-style component
        for calling extra attention to featured content or information.</p>
        <br />
        <br />
        <!-- search-panel with Filter | starts -->
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="input-group">
                        <div class="input-group-btn search-panel">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="search_concept">Filter by</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#contains"> <i class="fa fa-book" aria-hidden="true"></i> Book</a></li>
                              <li><a href="#its_equal"> <i class="fa fa-book" aria-hidden="true"></i> Course</a></li>
                              <li><a href="#greather_than"> <i class="fa fa-book" aria-hidden="true"></i> Topic</a></li>
                            </ul>
                        </div>
                        <input type="hidden" name="search_param" value="all" id="search_param">
                        <input type="text" class="form-control" name="x" placeholder="Search term...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- search-panel with Filter | Ends -->
  </div>
</div>
